<left>
    <p>Latest Taskcat Version</p>
    <a href="https://badge.fury.io/py/taskcat"><img alt="PyPI version" src="https://badge.fury.io/py/taskcat.svg" /></a></p>
    <p>Repo Status</p>
    <a class="github-button" href="https://github.com/aws-ia" aria-label="Follow @taskcat on GitHub">Follow @aws-ia</a><p>
    <a class="github-button" href="https://github.com/aws-ia/taskcat/subscription" data-icon="octicon-eye" aria-label="Watch aws-ia/taskcat on GitHub">Watch</a><p>
    <a class="github-button" href="https://github.com/aws-ia/taskcat" data-icon="octicon-star" data-show-count="true" aria-label="Star on GitHub">Star</a><p>
    <h5 class="copyright">&copy; 2019 Amazon Web Services, Inc. or its Affiliates. All rights reserved.<h5>

</left>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script> 
