<left>
    <h4>GitHub Repo</h4>
    <a class="github-button" href="https://github.com/aws-quickstart/taskcat" data-icon="octicon-star" data-show-count="true" aria-label="Star on GitHub">Star</a><p>
    <h4>Latest Version</h4>
<a href="https://badge.fury.io/py/taskcat"><img alt="PyPI version" src="https://badge.fury.io/py/taskcat.svg" /></a></p>

    <a class="link" href="https://aws-quickstart.github.io/taskcat/">
        <img src="https://raw.githubusercontent.com/aws-quickstart/taskcat/master/assets/docs/images/logo.png" ></a>
    <h5 class="copyright">&copy; 2019 Amazon Web Services, Inc. or its Affiliates. All rights reserved.<h5>

</left>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script> 
